.container {
  max-width: 1280px;
  margin: auto;
  background-color: #121212;
}

.articles {
  display: flex;
  margin-top: 60px;
}

.articles__main {
  width: 50%;
}

.articles__others {
  display: flex;
  flex-direction: column;
  width: 50%;
}