<div class="container__menu-bar">
  <div class="menu-bar">
    <ul>
      <li><a href="https://pt.wikipedia.org/wiki/Banabui%C3%BA" target="_blank">Sobre a Cidade</a></li>
      <li><a
          href="https://www.gov.br/dnocs/pt-br/assuntos/nossas-historias/construida-pelo-dnocs-barragem-arrojado-lisboa-desenvolveu-o-municipio-de-banabuiu"
          target="_blank">Sobre
          o Açude</a></li>
      <li><a href="https://www.youtube.com/watch?v=MY-mqXgidTo" target="_blank">Youtube</a></li>
    </ul>
  </div>
</div>